@import "tailwindcss";
@layer components{
    .dark{
        @apply bg-gray-700 text-white font-light 
    }
    button{
        @apply border border-2
    }
    section {
  scroll-margin-top: 80px;
}
    
}
    /* break points for medium screens */


@theme {
      /* This overwrites or adds to your breakpoints */

  --breakpoint-sm: 300px;

  --breakpoint-md: 500px;

  --breakpoint-lg: 1360px;
}
@theme {
  --animate-across: across 8s linear infinite;

  @keyframes across {
    from {
      /* Start completely off-screen to the right */
      transform: translateX(100vw);
    }
    to {
      /* End completely off-screen to the left */
      transform: translateX(-100%);
    }
  }
}



@theme {
  --animate-fade-up: fade-up 1.5s ease-in-out infinite;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    30% {
      opacity: 1;
      transform: translateY(0);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}